body {
  background-color: #000;
}
div.nav {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img.welcome {
  margin-top: 5%;
  width: 120%;
}
